@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); /* Poppins Font */

:root {
    --primary-color: #12111A;
    --secondary-color: #FAFAFA;
    --heading-color: #700000;
    --red-color: #700000;
    --classtitle-color: #700000;
    --sashGold-color: #CB9E00;
    --lightGray-color: #dddcdc;
}

.dark-theme {
    --primary-color: #FAFAFA;
    --secondary-color: #12111A;
    --heading-color: #CB9E00;
    --classtitle-color: #CB9E00;
    --lightGray-color: #dddcdc;
}

/* ===== Attributes ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    min-width: 520px;
    font-family: 'Poppins', sans-serif;
    background: var(--secondary-color);
}

/* ===== Classes =====  */
.sectionContainer {
    width: 100%;
    padding: 0 1rem 0;
}

.boardGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: auto;
    margin: auto;
    width: 90%;
}

.boardGrids div {
    padding: 1em;
}

.memberGrids {
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    height: auto;
    margin: auto;
    width: 80%;
}

.memberGrids div {
    padding: 1em;
}

.gridContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1em;
    color: var(--primary-color);
    font-size: small;
}

/* = Nested Grid Formatting = */
.Eboard-nested {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.Eboard-nested div {
    width: 275px;
}

.Aboard-nested {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.Aboard-nested div {
    width: 275px;
}

.members-nested {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
}
/* = Nested Grid Formatting = */

/* = Nested Member Info = */
.alpha-nested {
    text-align: center;
    font-size: 17px;
}

.beta-nested {
    text-align: center;
    font-size: 17px;
}

.gamma-nested {
    text-align: center;
    font-size: 17px;
}

.delta-nested {
    text-align: center;
    font-size: 17px;
}

.epsilon-nested {
    text-align: center;
    font-size: 17px;
}

.zeta-nested {
    text-align: center;
    font-size: 17px;
}

.pageTitling {
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 65px;
    color: var(--heading-color);
}

.EboardTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--heading-color);
}

.AboardTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: var(--heading-color);
}

.memberTitling {
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 45px;
    color: var(--heading-color);
}

.class-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--classtitle-color);
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
}

.img img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.names {
    text-align: center;
    font-size: 17px;
}

.spacing {
    padding-left: 2em;
    padding-right: 1.7em;
}

.TT-info {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

/* responsive screen sizing */
@media screen and (min-width: 1920px) {
    .boardGrids {
        width: 60%;
        min-width: 60%;
    }
}

    .memberGrids {
        width: 70%;
        min-width: 70%;
    }
}

@media screen and (min-width: 1440px) {
    .boardGrids {
        width: 50%;
        min-width: 50%;
    }
}

@media screen and (max-width: 1440px) {
    .boardGrids {
        width: 80%;
        min-width: 80%;
    }
}