@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); /* Poppins Font */

:root {
    --primary-color: #12111A;
    --secondary-color: #FAFAFA;
    --heading-color: #700000;
    --red-color: #700000;
    --classtitle-color: #700000;
    --sashGold-color: #CB9E00;
    --lightGray-color: #9494946e;
    --textWhite-color: #FAFAFA;
}

.dark-theme {
    --primary-color: #FAFAFA;
    --secondary-color: #12111A;
    --heading-color: #CB9E00;
    --classtitle-color: #CB9E00;
}

/* ===== Attributes ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    min-width: 520px;
    font-family: 'Poppins', sans-serif;
    background: var(--secondary-color);
}

/* ===== Classes =====  */
.sectionContainer {
    width: 100%;
    padding: 0 1rem 0;
}

.pageTitling {
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 50px;
    color: var(--heading-color);
}

/* Back button */
.back-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--softwhite-color);
    background-image: linear-gradient(var(--sashGold-color) 0%, var(--sashGold-color) 15%, 
        var(--red-color) 90%, var(--red-color) 100%);
    font-size: 20px;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.backButton:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 15px 25px -5px;
    transform: scale(1.03);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.backButton:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px;
    transform: scale(0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
/* Back button */

/* Class Image */
.foundingClassImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* Class Image */

/* Members Data */
.membersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.membersGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: auto;
    margin: auto;
    width: 80%;
}

.membersGrids a {
    padding: 1em;
}

.members-nested {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.members-nested div {
    width: 275px;
}

.gridContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1em;
    color: var(--primary-color);
    font-size: small;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-color: var(--lightGray-color);
}

.content {
    text-align: center;
    font-size: 17px;
}
/* Members Data */

/* ===== IDs ===== */
#foundingImg img {
    border-radius: 25px;
    width: 600px;
    height: 400px;
}