/* 
    @file: homeStyle.css
    @version: 4.0 Approved
    @Updated: 01/2022
    @Contributor(s): Spencer DeMera (Webmaster 2021), Justin Galvez
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); /* Poppins Font */

:root {
    --duskdark-color: #12111A;
    --softwhite-color: #FAFAFA;
    --primary-color: #12111A;
    --secondary-color: #FAFAFA;
    --heading-color: #700000;
    --red-color: #700000;
    --sashGold-color: #CB9E00;
    --lightGray-color: #dddcdc;
}

.dark-theme {
    --primary-color: #FAFAFA;
    --secondary-color: #12111A;
    --heading-color: #CB9E00;
    --lightGray-color: #dddcdc;
}

/* ===== Attributes ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    min-width: 520px;
    font-family: 'Poppins', sans-serif;
    background: var(--secondary-color);
}

/* ===== Classes ===== */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
  	text-align: center;
    font-size: 80px;
    color: var(--heading-color);
}

.textBox {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.flagImg {
    width: 60%;
    height: 60%;
    margin: auto;
}

.groupRushImg {
    width: 60%;
    height: 60%;
    margin: auto;
}

.chaptText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    background-color: var(--duskdark-color);
    color: var(--softwhite-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: x-large;
    font-weight: 600;
    padding: 0 2em 6px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    text-align: center;
    font-weight: 500;
    flex-basis: 50%;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.15em;
    color: var(--primary-color);
}

.nextStepTextFont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: var(--primary-color);
}

.submit-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.readyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--softwhite-color);
    background-image: linear-gradient(var(--sashGold-color) 0%, var(--sashGold-color) 15%, 
        var(--red-color) 90%, var(--red-color) 100%);
    font-size: 20px;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.readyButton:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 15px 25px -5px;
    transform: scale(1.03);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.readyButton:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px;
    transform: scale(0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#ProfImg {
    cursor: default;
}

#TT_Flag {
    cursor: default;
}

#rushGroupImg {
    cursor: default;
}

/* mobile */
@media screen and (min-width: 1920px) {
    .text {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

@media (max-width: 1440px) {
    .chaptText {
        font-size: 22px;
    }
}