@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); /* Poppins Font */

:root {
    --primary-color: #12111A;
    --seondary-color: #FAFAFA;
    --jacqueminotRed-color: #700000;
    --sashGold-color: #CB9E00;
    --lightGray-color: #dddcdc;
    --secondaryLightGray-color: #c7c7c7;
}

.dark-theme {
    --primary-color: #FAFAFA;
    --secondary-color: #12111A;
    --jacqueminotRed-color: #700000;
    --sashGold-color: #CB9E00;
    --lightGray-color: #919191;
    --secondaryLightGray-color: #777777;
}

/* ===== Attributes ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    min-width: 520px;
    font-family: 'Poppins', sans-serif;
    background: var(--seondary-color);
}

/* ===== Classes =====  */
.sectionContainer {
    width: 100%;
}

.LevelupTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: var(--primary-color);
}

.levelUp {
    display: flex;
    font-size: 45px;
    color: var(--jacqueminotRed-color);
}

.midSectionContaner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rushInfo {
    display: flex;
    justify-content: center;
    align-items: center;
  	text-align: center;
    font-size: 25px;
    width: 80%;
    font-weight: 500;
    color: var(--primary-color);
}

/* = Grids = */
.educatorGrids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    height: auto;
    margin: auto;
    width: 80%;
}

.educatorGrids div {
    padding: 1em;
}

.gridContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 1em;
    color: var(--primary-color);
    font-size: small;
}

.educator-nested-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.parent-nested-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
}

.educatorTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--sashGold-color);
}

.parentTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--sashGold-color);
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
}

.img img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.names {
    text-align: center;
    font-size: 17px;
}

.spacing {
    padding-left: 2em;
    padding-right: 1.7em;
}

.TT-info {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.flyers {
    display: grid;
    justify-content: center;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    height: auto;
    margin: 0;
}

.flyers div {
    padding: 1em;
}

.flyer-nested {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.flyerTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--sashGold-color);
}
/* = Grids = */

.eventINFO {
    display: flex;
    justify-content: center;
    align-items: center;
  	text-align: center;
    font-size: 60px;
    color: var(--jacqueminotRed-color);
}

.rushEvents {
  	/* text-align: center; */
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
}

.flyerINFO {
    display: flex;
    justify-content: center;
    align-items: center;
  	text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
    margin-left: 6rem;
    margin-right: 6rem;
}

.nextStepTextFont {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    color: var(--primary-color);
}

.submit-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.readyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--seondary-color);
    background-image: linear-gradient(var(--sashGold-color) 0%, var(--sashGold-color) 15%, 
        var(--jacqueminotRed-color) 90%, var(--jacqueminotRed-color) 100%);
    font-size: 20px;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.readyButton:hover {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 15px 25px -5px;
    transform: scale(1.03);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.readyButton:active {
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 8px;
    transform: scale(0.9);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.FAQsContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.FAQs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.faqTitling {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--sashGold-color);
}

.faqs-box {
    flex-direction: column;
    width: 80%;
    min-width: 80%;
}

.faqDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

details {
    background: var(--lightGray-color);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 30px;
}

.answer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: var(--secondaryLightGray-color);
}

.answer-text {
    font-size: 25px;
}

details summary {
    outline: none;
}


/* ===== IDs ===== */
#rushFlyer1 img {
    border-radius: 25px;
}

#rushFlyer2 img {
    border-radius: 25px;
}

/* responsive screen sizing */
@media screen and (min-width: 1920px) {
    .flyerINFO {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .flyers {
        margin-left: 20rem;
        margin-right: 20rem;
    }
}        

@media screen and (min-width: 1440px) {
    .rushInfo {
        width: 60%;
    }

    .rushEvents {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .flyers {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .flyer-nested {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1440px) {
    .flyers {
        margin-left: 8rem;
        margin-right: 8rem;
    }

    .flyer-nested {
        grid-template-columns: 1fr;
    }

    .faqs-box {
        width: 90%;
        min-width: 90%;
    }

    .dropdown-item {
        width: 90%;
    }
}
